In [1]:
# 此脚本是pandas在工作中使用的API的完整总结
# author: gz
# 2018-3-21
# 需要详细的列出API的完成的功能

In [4]:
import pandas as pd
import numpy as np

In [5]:
#构造pandas

dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))  # 6行4列，行索引是dates,列是columns # list('ABC')返回字符的list

In [19]:
df

                   A         B         C         D
2013-01-01 -0.951318  0.627520  2.107194  1.053633
2013-01-02  0.727344 -0.049356 -0.852485 -1.764225
2013-01-03  0.634556 -1.099717 -0.644139 -0.830832
2013-01-04  1.414448 -0.120106 -1.032776 -0.478574
2013-01-05 -0.066477  1.505295  0.878414  0.052779
2013-01-06 -0.504248  1.081663  0.041542 -0.032193

In [20]:
#添加1列
df.loc[:,'key'] = 10

In [21]:
df

                   A         B         C         D  key
2013-01-01 -0.951318  0.627520  2.107194  1.053633   10
2013-01-02  0.727344 -0.049356 -0.852485 -1.764225   10
2013-01-03  0.634556 -1.099717 -0.644139 -0.830832   10
2013-01-04  1.414448 -0.120106 -1.032776 -0.478574   10
2013-01-05 -0.066477  1.505295  0.878414  0.052779   10
2013-01-06 -0.504248  1.081663  0.041542 -0.032193   10

In [22]:
#添加1行
row_index = pd.date_range('20130107', periods=1)[0]
#注意没有添加到行索引对象: dates中，这对以后可能是个坑！！！！！！！！！！
df.loc[row_index,'A'] = 3
df.loc[row_index,'B'] = 4
df.loc[row_index,'C'] = 14
df.loc[row_index,'D'] = 6
df.loc[row_index,'key'] = 9

In [23]:
df

                   A         B          C         D   key
2013-01-01 -0.951318  0.627520   2.107194  1.053633  10.0
2013-01-02  0.727344 -0.049356  -0.852485 -1.764225  10.0
2013-01-03  0.634556 -1.099717  -0.644139 -0.830832  10.0
2013-01-04  1.414448 -0.120106  -1.032776 -0.478574  10.0
2013-01-05 -0.066477  1.505295   0.878414  0.052779  10.0
2013-01-06 -0.504248  1.081663   0.041542 -0.032193  10.0
2013-01-07  3.000000  4.000000  14.000000  6.000000   9.0

In [26]:
#删除一列
df = df.drop('key',axis=1)
df

ValueError: labels ['key'] not contained in axis

In [29]:
#删除一行
df = df.drop(dates[5])
df

                   A         B          C         D
2013-01-01 -0.951318  0.627520   2.107194  1.053633
2013-01-02  0.727344 -0.049356  -0.852485 -1.764225
2013-01-03  0.634556 -1.099717  -0.644139 -0.830832
2013-01-04  1.414448 -0.120106  -1.032776 -0.478574
2013-01-05 -0.066477  1.505295   0.878414  0.052779
2013-01-07  3.000000  4.000000  14.000000  6.000000

In [ ]:
#使用loc去重
df.loc[:,'A'] =  list(range(0,6))

In [52]:
#合并两个dataframe
data1 = df.copy()
data2 = df.copy()
# 修改data1和data2的columns
data1.columns = ['A1','B1','C1','D1']  
data2.columns = ['A2','B2','C2','D2']
# 给data1和data各添加1列（列明为key）
data1.loc[:,'key'] = 1
data2.loc[:,'key'] = 1

result = pd.merge(left=data1, right=data2, on='key') # 这个merge是做笛卡尔组合, 原来数据6行，merge后会有6*6=36行

In [53]:
result

    A1        B1         C1        D1  key  A2        B2         C2        D2
0    0  0.627520   2.107194  1.053633    1   0  0.627520   2.107194  1.053633
1    0  0.627520   2.107194  1.053633    1   1 -0.049356  -0.852485 -1.764225
2    0  0.627520   2.107194  1.053633    1   2 -1.099717  -0.644139 -0.830832
3    0  0.627520   2.107194  1.053633    1   3 -0.120106  -1.032776 -0.478574
4    0  0.627520   2.107194  1.053633    1   4  1.505295   0.878414  0.052779
5    0  0.627520   2.107194  1.053633    1   5  4.000000  14.000000  6.000000
6    1 -0.049356  -0.852485 -1.764225    1   0  0.627520   2.107194  1.053633
7    1 -0.049356  -0.852485 -1.764225    1   1 -0.049356  -0.852485 -1.764225
8    1 -0.049356  -0.852485 -1.764225    1   2 -1.099717  -0.644139 -0.830832
9    1 -0.049356  -0.852485 -1.764225    1   3 -0.120106  -1.032776 -0.478574
10   1 -0.049356  -0.852485 -1.764225    1   4  1.505295   0.878414  0.052779
11   1 -0.049356  -0.852485 -1.764225    1   5  4.000000  14.000000  6.000000
12   2 -1.099717  -0.644139 -0.830832    1   0  0.627520   2.107194  1.053633
13   2 -1.099717  -0.644139 -0.830832    1   1 -0.049356  -0.852485 -1.764225
14   2 -1.099717  -0.644139 -0.830832    1   2 -1.099717  -0.644139 -0.830832
15   2 -1.099717  -0.644139 -0.830832    1   3 -0.120106  -1.032776 -0.478574
16   2 -1.099717  -0.644139 -0.830832    1   4  1.505295   0.878414  0.052779
17   2 -1.099717  -0.644139 -0.830832    1   5  4.000000  14.000000  6.000000
18   3 -0.120106  -1.032776 -0.478574    1   0  0.627520   2.107194  1.053633
19   3 -0.120106  -1.032776 -0.478574    1   1 -0.049356  -0.852485 -1.764225
20   3 -0.120106  -1.032776 -0.478574    1   2 -1.099717  -0.644139 -0.830832
21   3 -0.120106  -1.032776 -0.478574    1   3 -0.120106  -1.032776 -0.478574
22   3 -0.120106  -1.032776 -0.478574    1   4  1.505295   0.878414  0.052779
23   3 -0.120106  -1.032776 -0.478574    1   5  4.000000  14.000000  6.000000
24   4  1.505295   0.878414  0.052779    1   0  0.627520   2.107194  1.053633
25   4  1.505295   0.878414  0.052779    1   1 -0.049356  -0.852485 -1.764225
26   4  1.505295   0.878414  0.052779    1   2 -1.099717  -0.644139 -0.830832
27   4  1.505295   0.878414  0.052779    1   3 -0.120106  -1.032776 -0.478574
28   4  1.505295   0.878414  0.052779    1   4  1.505295   0.878414  0.052779
29   4  1.505295   0.878414  0.052779    1   5  4.000000  14.000000  6.000000
30   5  4.000000  14.000000  6.000000    1   0  0.627520   2.107194  1.053633
31   5  4.000000  14.000000  6.000000    1   1 -0.049356  -0.852485 -1.764225
32   5  4.000000  14.000000  6.000000    1   2 -1.099717  -0.644139 -0.830832
33   5  4.000000  14.000000  6.000000    1   3 -0.120106  -1.032776 -0.478574
34   5  4.000000  14.000000  6.000000    1   4  1.505295   0.878414  0.052779
35   5  4.000000  14.000000  6.000000    1   5  4.000000  14.000000  6.000000

In [56]:
###去重, A1!=A2的组合
result = result.loc[result['A1']!=result['A2']]

In [58]:
#重置行索引
result = result.reset_index(drop=True)

In [59]:
result

    A1        B1         C1        D1  key  A2        B2         C2        D2
0    0  0.627520   2.107194  1.053633    1   1 -0.049356  -0.852485 -1.764225
1    0  0.627520   2.107194  1.053633    1   2 -1.099717  -0.644139 -0.830832
2    0  0.627520   2.107194  1.053633    1   3 -0.120106  -1.032776 -0.478574
3    0  0.627520   2.107194  1.053633    1   4  1.505295   0.878414  0.052779
4    0  0.627520   2.107194  1.053633    1   5  4.000000  14.000000  6.000000
5    1 -0.049356  -0.852485 -1.764225    1   0  0.627520   2.107194  1.053633
6    1 -0.049356  -0.852485 -1.764225    1   2 -1.099717  -0.644139 -0.830832
7    1 -0.049356  -0.852485 -1.764225    1   3 -0.120106  -1.032776 -0.478574
8    1 -0.049356  -0.852485 -1.764225    1   4  1.505295   0.878414  0.052779
9    1 -0.049356  -0.852485 -1.764225    1   5  4.000000  14.000000  6.000000
10   2 -1.099717  -0.644139 -0.830832    1   0  0.627520   2.107194  1.053633
11   2 -1.099717  -0.644139 -0.830832    1   1 -0.049356  -0.852485 -1.764225
12   2 -1.099717  -0.644139 -0.830832    1   3 -0.120106  -1.032776 -0.478574
13   2 -1.099717  -0.644139 -0.830832    1   4  1.505295   0.878414  0.052779
14   2 -1.099717  -0.644139 -0.830832    1   5  4.000000  14.000000  6.000000
15   3 -0.120106  -1.032776 -0.478574    1   0  0.627520   2.107194  1.053633
16   3 -0.120106  -1.032776 -0.478574    1   1 -0.049356  -0.852485 -1.764225
17   3 -0.120106  -1.032776 -0.478574    1   2 -1.099717  -0.644139 -0.830832
18   3 -0.120106  -1.032776 -0.478574    1   4  1.505295   0.878414  0.052779
19   3 -0.120106  -1.032776 -0.478574    1   5  4.000000  14.000000  6.000000
20   4  1.505295   0.878414  0.052779    1   0  0.627520   2.107194  1.053633
21   4  1.505295   0.878414  0.052779    1   1 -0.049356  -0.852485 -1.764225
22   4  1.505295   0.878414  0.052779    1   2 -1.099717  -0.644139 -0.830832
23   4  1.505295   0.878414  0.052779    1   3 -0.120106  -1.032776 -0.478574
24   4  1.505295   0.878414  0.052779    1   5  4.000000  14.000000  6.000000
25   5  4.000000  14.000000  6.000000    1   0  0.627520   2.107194  1.053633
26   5  4.000000  14.000000  6.000000    1   1 -0.049356  -0.852485 -1.764225
27   5  4.000000  14.000000  6.000000    1   2 -1.099717  -0.644139 -0.830832
28   5  4.000000  14.000000  6.000000    1   3 -0.120106  -1.032776 -0.478574
29   5  4.000000  14.000000  6.000000    1   4  1.505295   0.878414  0.052779

In [ ]:
#A1这一列，不为空的值赋值为val
result.loc[ (result.A1.notnull()), 'A1' ] = val

In [47]:
######## np.random.randint(1,6) #生成一个1到6的随机整数

3

In [1]:
mylist = [9,10,2,4,11]
mylist[-1]

11

In [2]:
mylist.clear()

In [3]:
mylist

[]